.about-us .header-wrap {
    background-image: url("../img/about-us-header-bg.jpg");
}
.about-us .first-section {
    padding-bottom: 0;
}
.about-us .f-s_main-offer {
    max-width: 875px;
    margin-bottom: 75px;
}
.f-s_main-offer__mark-caption {
    color: #ebc69f;
    font-size: 30px;
    font-weight: bold;
    margin-top: 45px;
    margin-bottom: 20px;
}
.f-s_main-offer__text {
    font-weight: 300;
}
.about-us .f-s_bottom-note {
    box-sizing: border-box;
}
.f-s-about-us {
    flex: 0 0 100%;
    background-color: #000;
    background-image: url("../img/about-us-f-s-bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom right;
    padding: 83px 98px 450px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: self-start;
}
.f-s-about-us_column:first-child {
    max-width: 460px;
}
.f-s-about-us_column:last-child {
    max-width: 365px;
}
.f-s-about-us_item {
    margin-bottom: 40px;
}
.f-s-about-us_column_item__img {
    margin-bottom: 20px;
}
.f-s-about-us_column:last-child .benefit_text-mark:last-child {
    color: #e2bf99;
}

@media(max-width: 1075px) {
    .f-s-about-us_column:first-child {
        max-width: 350px;
    }
}
@media(max-width: 1020px) {
    .f-s-about-us {
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 230px;
    }
    .f-s-about-us .f-s-about-us_column {
        max-width: 300px;
    }
    .about-us .f-s_main-offer {
        max-width: 90%;
    }
}
@media(max-width: 950px) {
    .about-us .f-s_bottom-note {
        max-width: 360px;
    }
}
@media(max-width: 760px) {
    .about-us .f-s_bottom-note {
        display: none;
    }
    .about-us .first-section {
        flex-wrap: wrap;
    }
    .about-us .header {
        margin-bottom: 0;
    }
    .about-us .f-s_main-offer {
        max-width: 85%;
        margin-bottom: 45px;
    }
    .f-s_main-offer__mark-caption {
        margin: 15px 0;
    }
    .f-s-about-us {
        padding: 25px 15px;
        background-image: unset;
        text-align: center;
    }
    .f-s-about-us .f-s-about-us_column {
        max-width: unset;
    }
    .f-s-about-us_item {
        margin-bottom: 20px;
    }
}
@media(max-width: 430px) {
    .f-s_main-offer__mark-caption {
        font-size: 20px;
    }
    .f-s_main-offer__text,
    .benefit_text {
        font-size: 13px;
    }
}
@media(max-width: 375px) {
    .about-us .f-s_main-offer {
        max-width: 80%;
    }
    .benefit_text {
        font-size: 12px;
        line-height: 18px;
    }
}

/* second section */

.about-us-sec-s {
    text-align: center;
    padding: 105px 0 150px;
    max-width: 945px;
    margin: 0 auto;
}
.about-us-sec-s-wrap {
    position: relative;
}
.about-us-sec-s_bottom-block {
    position: absolute;
    height: 45px;
    width: 53%;
    background-color: #000;
    right: 0;
    bottom: 0;
}
.about-us-sec-s_caption {
    font-size: 31px;
    font-weight: bold;
    color: #1e1e1e;
    margin-bottom: 35px;
}
.about-us-sec-s_caption-mark {
    color: #ebc69f;
}
.about-us-sec-s_text {
    color: #adadad;
    font-size: 19px;
    margin-bottom: 30px;
}
.about-us-sec-s_note {
    color: #0a070a;
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 70px;
}
@media(max-width: 768px) {
    .about-us-sec-s_caption {
        font-size: 25px;
        margin-bottom: 15px;
    }
    .about-us-sec-s_text {
        margin-bottom: 15px;
        font-size: 14px;
    }
    .about-us-sec-s_note {
        margin-bottom: 25px;
    }
    .about-us-sec-s {
        padding-top: 50px;
        padding-bottom: 65px;
    }
}
@media(max-width: 430px) {
    .about-us-sec-s_caption {
        font-size: 16px;
    }
    .about-us-sec-s_bottom-block {
        display: none;
    }
    .about-us-sec-s {
        padding-bottom: 35px;
    }
    .about-us-sec-s_text {
        font-size: 12px;
    }
    .about-us-sec-s_note {
        font-size: 16px;
        margin-bottom: 15px;
    }
}

/* third section */

.about-us-third-s-wrap {
    background-image: url("../img/about-us-third-bg.jpg");
    background-repeat: no-repeat;
    background-color: #0a070a;
    background-size: contain;
    background-position: bottom center;
    padding-top: 20px;
    padding-bottom: 120px;
    position: relative;
}
.about-us-third-s_bottom-block {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 60%;
    height: 35px;
    background-color: #fff;
}
.about-us-third-s_top-sale {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 35px;
}
.about-us-third-s_top-sale__num {
    color: #f7cda1;
    font-size: 60px;
    font-weight: 200;
    margin-right: 22px;
    line-height: 46px;
}
.about-us-third-s_top-sale__text {
    font-size: 14px;
    font-weight: 300;
    max-width: 200px;
    color: #afaeae;
}
.about-us-third-s_caption {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    max-width: 487px;
    margin-bottom: 65px;
}
.about-us-third-s_caption-mark {
    color: #ebc69f;
}
.about-us-third-s_content {
    max-width: 945px;
    margin: 0 auto;
}
.about-us-third-s_img-block {
    width: 100%;
    height: 200px;
    background-image: url("../img/about-us-benefits-main-bg.jpg");
    background-size: cover;
    position: relative;
    margin-bottom: 53px;
}
.about-us-third-s_text {
    color: #aaaaaa;
    font-weight: 300;
    line-height: 22px;
    margin-bottom: 25px;
}
.about-us-third-s_bold-text {
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    margin-bottom: 42px;
}
.about-us-third-s_benefits {
    display: flex;
    justify-content: space-between;
}
.about-us-third-s_benefit {
    padding-left: 97px;
    box-sizing: border-box;
    flex: 1 1 50%;
    margin-bottom: 42px;
}
.about-us-third-s_benefit__num {
    color: #e6b678;
    font-weight: bold;
    font-size: 72px;
    line-height: 52px;
    margin-bottom: 32px;
}
.about-us-third-s_benefit__text {
    color: #aaaaaa;
    font-size: 16px;
    line-height: 22px;
}
.about-us-third-s_benefit__text-mark {
    font-weight: 500;
    color: #fff;
}
.about-us-third-s_total-income {
    padding: 42px 97px;
    margin-bottom: 85px;
    background-color: #171717;
}
.about-us-third-s_total-income__caption {
    color: #ebc69f;
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 25px;
}
.about-us-third-s_total-income__text {
    font-size: 16px;
    line-height: 22px;
    color: #aaaaaa;
    font-weight: 300;
}
.about-us-third-s_alternatives {
    display: flex;
    justify-content: space-between;
    margin-bottom: 95px;
}
.about-us-third-s_alternative {
    width: calc(50% - 15px);
}
.about-us-third-s_alternative__img {
    width: 100%;
    height: auto;
    margin-bottom: 32px;
}
.about-us-third-s_alternative__caption {
    line-height: 24px;
    padding-left: 97px;
    color: #e6b678;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 25px;
}
.about-us-third-s_alternative__text {
    line-height: 22px;
    padding-left: 97px;
    color: #aaaaaa;
    font-weight: 300;
    font-size: 16px;
}
.about-us-third-s_alternative__note {
    color: #676767;
    font-weight: 300;
    font-size: 14px;
    margin-top: 50px;
    padding-left: 97px;
}
.about-us-third-s_content .callback-buttons {
    color: #fff;
}
@media(max-width: 1024px) {
    .about-us-third-s_caption {
        max-width: 945px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
    }
}
@media(max-width: 1020px) {
    .about-us-third-s_top-sale {
        display: none;
    }
    .about-us-third-s_benefit {
        padding-left: 20px;
    }
    .about-us-third-s_total-income {
        padding: 30px;
        margin-bottom: 30px;
    }
    .about-us-third-s_alternative__caption,
    .about-us-third-s_alternative__text,
    .about-us-third-s_alternative__note {
        padding-left: 0;
    }
    .about-us-third-s_alternative__caption {
        font-size: 20px;
        line-height: 21px;
    }
}
@media(max-width: 430px) {
    .about-us-third-s_caption,
    .about-us-third-s_total-income__caption {
        font-size: 20px;
    }
    .about-us-third-s_img-block {
        height: 100px;
        margin-bottom: 20px;
    }
    .about-us-third-s_text,
    .about-us-third-s_total-income__text,
    .about-us-third-s_benefit__text,
    .about-us-third-s_alternative__text {
        font-size: 13px;
    }
    .about-us-third-s_bold-text {
        font-size: 14px;
        margin-bottom: 15px;
    }
    .about-us-third-s_benefit__num {
        font-size: 50px;
        margin-bottom: 15px;
    }
    .about-us-third-s_benefits,
    .about-us-third-s_alternatives {
        flex-wrap: wrap;
    }
    .about-us-third-s_benefit,
    .about-us-third-s_alternative {
        width: 100%;
        flex: 0 0 100%;
    }
    .about-us-third-s_alternative {
        margin-bottom: 20px;
    }
    .about-us-third-s_alternatives {
        margin-bottom: 20px;
    }
    .about-us-third-s_total-income {
        padding-left: 10px;
        padding-right: 10px;
    }
    .about-us-third-s_bottom-block {
        display: none;
    }
    .about-us-third-s-wrap {
        padding-bottom: 30px;
        background-image: unset;
    }
}

/* about-us-stats-data */

.about-us-stats-data-wrap {
    padding-top: 140px;
    padding-bottom: 125px;
    position: relative;
    background-image: url("../img/about-us-stats-data.jpg");
    background-size: cover;
    background-position: bottom center;
}
.about-us-stats-data_item {
    width: 25%;
    text-align: center;
}
.about-us-stats-data {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-us-stats-data_item__num {
    font-size: 60px;
    font-weight: bold;
    color: #e6b678;
    margin-bottom: 15px;
    white-space: nowrap;
}
.about-us-stats-data_bottom-block {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40%;
    background-color: #f8f8f8;
    height: 25px;
}
@media(max-width: 1020px) {
    .about-us-stats-data_item {
        width: 50%;
        margin-bottom: 30px;
    }
    .about-us-stats-data-wrap {
        padding-top: 35px;
        padding-bottom: 35px;
        background-image: unset;
    }
    .about-us-stats-data_bottom-block {
        display: none;
    }
}
@media(max-width: 768px) {
    .about-us-stats-data_item__num {
        font-size: 45px;
    }
}
@media(max-width: 430px) {
    .about-us-stats-data_item__num {
        font-size: 35px;
        margin-bottom: 0;
    }
    .about-us-stats-data_item__text {
        font-size: 14px;
    }
}
@media(max-width: 375px) {
    .about-us-stats-data_item {
        width: 100%;
        margin-bottom: 20px;
    }
    .about-us-stats-data_item__num {
        font-size: 50px;
    }
    .about-us-stats-data_item__text {
        max-width: 65%;
        margin: 0 auto;
    }
}

/* about-us-last-deals */

.about-us-last-deals-wrap {
    padding: 115px 0;
    background-color: #f8f8f8;
    display: none;
}
.about-us-last-deals_caption {
    color: #1e1e1e;
    font-weight: bold;
    font-size: 31px;
    text-align: center;
    margin-bottom: 20px;
}
.about-us-last-deals_caption-mark {
    color: #ebc69f;
}
.about-us-last-deals_sub-caption {
    color: #7c7b7b;
    font-size: 16px;
    margin-bottom: 50px;
    text-align: center;
}
.deal {
    display: flex;
    margin-bottom: 50px;
}
.deal_slider-wrap {
    padding-top: 50px;
    overflow: hidden;
    max-width: 459px;
    width: 100%;
    position: relative;
}
.deal_slider {
    display: flex;
    transition: all ease .5s;
}
.deal_img-wrap {
    flex-shrink: 0;
    flex-basis: 100%;
}
.s-notransition {
    transition: 0s;
}
.deal_slider-arrows {
    margin-top: 20px;
    max-width: 50px;
    display: flex;
    justify-content: space-between;
}
.deal_slider-arr {
    color: #000;
    display: block;
    font-size: 25px;
    line-height: 25px;
    font-weight: 500;
}

.deal_img {
    width: 459px;
    height: auto;
}
.deal_info {
    background-color: #fff;
    padding: 60px 97px 65px;
    flex-grow: 1;
}
.deal_caption {
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 500;
    color: #1e1e1e;
}
.deal_location {
    color: #7c7b7b;
    font-size: 16px;
    line-height: 22px;
}
.deal_location-caption {
    display: block;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    color: #1e1e1e;
}
.deal_coast-info {
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    padding: 14px 0;
    display: flex;
    margin: 17px 0;
}
.deal_coast {
    line-height: 22px;
    color: #7c7b7b;
    font-size: 16px;
    padding: 3px 0 3px 50px;
    flex: 1 0 auto;
    background-image: url("../img/money-icon.png");
    background-repeat: no-repeat;
    background-position: left center;
}
.deal_coast-caption {
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    color: #1e1e1e;
    font-weight: 500;
}
.deal_note {
    line-height: 22px;
    font-size: 16px;
    color: #7c7b7b;
}
.deal_note-mark {
    font-weight: 500;
    color: #1e1e1e;
}
.deal_all-income {
    color: #e6b678;
    font-weight: 600;
    margin-top: 27px;
    margin-bottom: 38px;
}