.contacts-page .header {
    margin-bottom: 90px;
}
.contacts-page .first-section {
    padding-bottom: 48px;
}
.header-bottom-block {
    position: absolute;
    width: 50%;
    background-color: #fff;
    height: 30px;
    bottom: 0;
    left: 0;
}
@media(max-width: 640px) {
    .contacts-page .f-s_main-offer__caption {
        font-size: 35px;
    }
    .header-bottom-block {
        display: none;
    }
    .contacts-page .first-section {
        padding-bottom: 15px;
    }
    .contacts-page .header {
        margin-bottom: 15px;
    }
}