.gallery .header {
    margin-bottom: 45px;
}
.gallery .f-s_main-offer {
    padding-top: 55px;
}
.gallery .first-section {
    padding-bottom: 50px;
    padding-left: 97px;
    box-sizing: border-box;
}
.gallery-header_bottom-block {
    position: absolute;
    width: 60%;
    height: 25px;
    right: 0;
    bottom: 0;
    background-color: #f8f8f8;
}
.gallery .about-us-last-deals-wrap {
    padding-top: 30px;
}
.deal-wrap:not(:last-child) {
    margin-bottom: 95px;
}
.deal_more-btn {
    display: block;
    text-transform: uppercase;
    color: #333;
    font-weight: 600;
    font-size: 16px;
    padding-right: 20px;
    background-image: url("../img/bottom-arr.png");
    background-repeat: no-repeat;
    background-position: right center;
    width: fit-content;
}
.deal_more-btn-active {
    background-image: url("../img/top-arr.png");
}
.deal_more {
    margin-top: 37px;
    border-top: 1px solid #f0f0f0;
    padding-top: 28px;
    display: none;
}
.deal_more-active {
    display: block;
}
.deal_more__caption {
    font-weight: 500;
    font-size: 24px;
    color: #1e1e1e;
    margin-bottom: 20px;
}
.deal_more__sub-caption {
    color: #1e1e1e;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
}
.deal_more__text {
    font-size: 16px;
    color: #7c7b7b;
    line-height: 22px;
    margin-bottom: 30px;
}
.deal_more__link {
    color: #e6b678;
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 3px;
    border-bottom: 1px solid #f0f0f0;
}
.deal_more__link:hover {
    border-bottom: none;
}