.modal.open,
.modal.open .modal-window {
    opacity: 1;
    z-index: 1000;
}
.modal.open .modal-window {
    transform: translateY(50%);
}
.modal.open {
    background-color: rgba(0,0,0,.7);
}
.modal-window,
.modal {
    opacity: 0;
    z-index: -1;
}
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0);
    transition: background-color .35s ease-in;
}
.modal-window {
    position: relative;
    margin: 0 auto;
    max-width: 870px;
    width: 100%;
    height: 415px;
    padding-left: 370px;
    background-image: url("../img/modal-bg.jpg");
    background-position: left center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #fff;
    box-sizing: border-box;
    transform: translateY(-450px);
    transition: transform .35s ease-in;
}
.modal.modal-hide,
.modal.modal-hide .modal-window {
    opacity: 1;
    z-index: 1000;
}
.modal.hide {
    background-color: rgba(0,0,0,0);
}
.modal.hide .modal-window {
    transform: translateY(-200px);
}
.modal_body {
    padding-left: 45px;
    padding-top: 70px;
    box-sizing: border-box;
    padding-right: 35px;
}
.modal_close {
    position: absolute;
    font-size: 50px;
    line-height: 50px;
    top: 0;
    right: 8px;
    cursor: pointer;
}
.modal_caption {
    color: #292935;
    font-size: 24px;
    margin-bottom: 30px;
}
.modal_input-label {
    display: none;
}
.modal_input {
    padding: 15px 19px;
    font-size: 14px;
    color: #292935;
    border-bottom: 1px solid #e8e8e8;
    width: 100%;
    box-sizing: border-box;
}
.modal_input:focus + .modal_input-label {
    display: block;
    position: absolute;
    top: 3px;
    left: 19px;
    font-size: 10px;
}
.modal_input:focus::placeholder {
    color: transparent;
}
.modal_input-wrap {
    position: relative;
}
.modal_input-wrap:nth-child(2) {
    margin-bottom: 45px;
}
.modal_submit-wrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.modal_checkbox-wrap {
    padding-top: 10px;
    box-sizing: border-box;
    max-width: 215px;
    padding-left: 5%;
}
.modal_checkbox-label:before {
    content: '';
    position: absolute;
    top: 0;
    left: -24px;
    width: 13px;
    height: 13px;
    background-color: #3b3b3b;
    border-radius: 2px;
}
.modal_checkbox {
    display: none;
}
.modal_checkbox-label {
    box-sizing: border-box;
    font-size: 10px;
    color: #848484;
    width: 100%;
    position: relative;
    cursor: pointer;
}
.modal_checkbox-label span {
    line-height: 13px;
}
.modal_checkbox:checked + .modal_checkbox-label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: -22px;
    background-image: url("../img/modal-checkbox.png");
    background-repeat: no-repeat;
    width: 9px;
    height: 7px;
}
.modal_btn {
    width: 185px;
}
@media(max-width: 900px) {
    .modal-window {
        padding-left: 0;
        height: unset;
        max-width: 500px;
        background-image: unset;
    }
    .modal_body {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
@media(max-width: 600px) {
    .modal .callback-buttons_button {
        margin-bottom: 0;
        width: 170px;
    }
}
@media(max-width: 550px) {
    .modal_body {
        padding: 40px 15px 20px;
    }
    .modal_caption {
        font-size: 16px;
        margin-bottom: 15px;
    }
    .modal_input-wrap:nth-child(2) {
        margin-bottom: 15px;
    }
    .modal_close {
        font-size: 35px;
    }
    .modal_submit-wrap {
        flex-direction: column;
    }
    .modal-window {
        max-width: 90%;
    }
    .modal_checkbox-wrap {
        max-width: unset;
    }
    .modal_checkbox-wrap {
        padding-left: 9%;
    }
}
