.second-section-wrap {
    padding: 100px 0 155px 0;
    position: relative;
}
.second-section {
    display: flex;
}
.second-section-wrap .navigate-dots {
    padding-top: 30px;
}
.sec-s-content {
    text-align: center;
    max-width: 750px;
    margin-left: 97px;
}
.sec-s_caption {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}
.sec-s_caption__company-name {
    color: #e6b577;
    display: block;
}
.sec-s_info-text {
    font-size: 18px;
    color: #adadad;
    max-width: 556px;
    margin: 0 auto 80px;
}
.sec-s .callback-buttons {
    color: #403a3b;
}
.sec-s_bottom-block {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 1005px;
    height: 45px;
    background-color: #0a070a;
}
@media(max-width: 970px) {
    .sec-s-content {
        margin-left: 0;
    }
}
@media(max-width: 770px) {
    .callback-buttons_button {
        width: 170px;
    }
}
@media(max-width: 640px) {
    .sec-s_caption {
        font-size: 25px;
    }
    .sec-s_info-text {
        font-size: 15px;
        margin-bottom: 30px;
    }
}
@media(max-width: 600px) {
    .callback-buttons_buttons {
        flex-direction: column;
        align-items: center;
    }
    .callback-buttons_button {
        width: 250px;
    }
    .callback-buttons_button:not(:last-child) {
        margin-bottom: 25px;
    }
    .callback-buttons_top-info {
        font-size: 14px;
    }
    .callback-buttons_bottom-info {
        font-size: 16px;
    }
    .second-section-wrap {
        padding-top: 35px;
        padding-bottom: 70px;
    }
}
@media(max-width: 430px) {
    .sec-s_caption {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .sec-s_info-text {
        font-size: 13px;
    }
}