.six-section-wrap {
    background-image: url("../img/index-six-bg.jpg");
    background-size: cover;
    background-position: top center;
    padding: 150px 0 133px;
    position: relative;
}
.six-section {
    display: flex;
}
.sx-s_caption {
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 48px;
}
.sx-s .navigate-dots {
    margin-top: 35px;
}
.sx-s_caption-mark {
    color: #ebc69f;
    display: block;
}
.programs {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 85px;
}
.program {
    padding: 0 46px 53px;
    background-color: #000;
    color: #aaaaaa;
    flex-basis: calc(100% / 3);
    height: 553px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
}
.program:after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .65);
    transition: ease all .5s;
}
.program:before {
    z-index: 1;
    content: '';
    position: absolute;
    bottom: 145px;
    top: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(0deg, rgba(0,0,0,1), rgba(0,0,0,0));
}
.program:hover:after {
    background-color: rgba(0, 0, 0, .45);
}
.program-max-profit {
    background-image: url("../img/max-prifit.jpg");
}
.program-complete-project {
    background-image: url("../img/complete-project.jpg");
}
.program-invest {
    background-image: url("../img/invest-programm.jpg");
}
.program-help-block {
    position: absolute;
    width: 100%;
    height: 145px;
    bottom: 0;
    left: 0;
    background-color: #000;
    z-index: 1;
}
.program_caption {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 23px;
    z-index: 2;
}
.program_description {
    font-size: 14px;
    z-index: 2;
}
.sx-s .callback-buttons {
    color: #fff;
}
.sx-s_bottom-block {
    position: absolute;
    background-color: #fff;
    width: 45.3%;
    height: 44px;
    bottom: -1px;
    left: 0;
}